.containerInspectionForm{
    display: flex;
    flex-wrap: wrap;
}


.inspectionBox {
    flex: 48%;
    margin: 0px 10px;
}

.inspectionDetails{
    display: flex;
    flex-wrap: wrap;
}

.inspectionDetailsBox {
    flex: 48%;
    display: flex;
}

.componentInspection {
    display: flex;
}

.componentDetails {
    flex: 70%;
}

.checkbox {
    width: fit-content;
    border: white solid 0px;
}

.componentBox {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
   
}

.inspectionCard {
    display: flex;
    margin: 0px 10px 10px 10px;
    line-height: 1;
}

.inspectionButton {
    height: 30px;
    margin: 5px;
    align-self: center;
}

.componentBoxInspectionList {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    display: flex;
    width: 750;
}